body {
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font: 'Roboto';
    scr: url('../fonts/Roboto-Regular.ttf') format("truetype");
    font-weight: 400;
}


@font-face {
    font: 'Roboto';
    scr: url('../fonts/Roboto-Bold.ttf') format("truetype");
    font-weight: 700;
}

@font-face {
    font: 'Roboto';
    scr: url('../fonts/Roboto-Black.ttf') format("truetype");
    font-weight: 900;
}

A:link {
    text-decoration: none;
}

.container {
    max-width: 1030px;
    margin: 0 auto;
}

.movie-list-header {
    color: #252525;
    font-size: 50px;
    text-align: center;
    font-weight: 700;
    margin: 90px;
}

.movie-list-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 87px;
}

.movie-list-1 {
    color: #ffffff;
    background: #a3cc40;
    font-size: 30px;
    font-weight: 400;
    height: 75px;
}

.movie-list-2 {
    color: #ffffff;
    background: #373737;
    font-size: 22px;
    font-weight: 400;
    height: 75px;
}

.movie-list-3 {
    color: #ffffff;
    background: #4b4d4f;
    font-size: 22px;
    font-weight: 400;
    height: 75px;
}

.movie-list-th0 {
    color: #ffffff;
    background: #a3cc40;
    font-size: 30px;
    font-weight: 900;
    height: 75px;
    padding-left: 65px;
    text-align: left;
}

.movie-list-th1 {
    color: #ffffff;
    background: #373737;
    font-size: 22px;
    font-weight: 400;
    height: 75px;
    padding-left: 65px;
    text-align: left;
}

.movie-list-th2 {
    color: #ffffff;
    background: #4b4d4f;
    font-size: 22px;
    font-weight: 400;
    height: 75px;
    padding-left: 65px;
    text-align: left;
}

.movie-list-th3-1 {
    color: #ffffff;
    background: #373737;
    font-size: 22px;
    font-weight: 400;
    height: 75px;
    padding-right: 35px;
}

.movie-list-th3-2 {
    color: #ffffff;
    background: #4b4d4f;
    font-size: 22px;
    font-weight: 400;
    height: 75px;
    padding-right: 35px;
}

th {
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
}

#ticket {
    color: #ffffff;
    font-size: 30px;
    font-weight: 900;
}

.th0-1 {
    padding: 20px;
    position: relative;
    color: #fff;
}

.th0-1::after {
    content: '';
    position: absolute;
    border: 10px solid transparent;
    border-bottom: 20px solid white;
}

.th0-2 {
    padding-right: 20px;
    position: relative;
    color: #fff;
}

.th0-2::after {
    content: '';
    position: absolute;
    bottom: 15px;
    border: 10px solid transparent;
    border-top: 20px solid white;
}
